--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0 (Debian 16.0-1.pgdg120+1)
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: enroll_cache; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enroll_cache (
    cache_key character varying(255) NOT NULL,
    value text NOT NULL,
    expires timestamp with time zone NOT NULL
);


ALTER TABLE public.enroll_cache OWNER TO postgres;

--
-- Name: shop_addonproduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_addonproduct (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    price integer NOT NULL,
    size character varying(10),
    CONSTRAINT shop_addonproduct_price_check CHECK ((price >= 0))
);


ALTER TABLE public.shop_addonproduct OWNER TO postgres;

--
-- Name: shop_addonproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_addonproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_addonproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_anonymoususer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_anonymoususer (
    id bigint NOT NULL,
    session_key character varying(40) NOT NULL
);


ALTER TABLE public.shop_anonymoususer OWNER TO postgres;

--
-- Name: shop_anonymoususer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_anonymoususer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_anonymoususer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_collectionset; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_collectionset (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    hero boolean NOT NULL,
    image character varying(100)
);


ALTER TABLE public.shop_collectionset OWNER TO postgres;

--
-- Name: shop_collectionset_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_collectionset ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_collectionset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_cuppon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_cuppon (
    id bigint NOT NULL,
    cuppon_name character varying(10) NOT NULL,
    percent integer NOT NULL,
    min_order integer NOT NULL,
    CONSTRAINT shop_cuppon_min_order_check CHECK ((min_order >= 0)),
    CONSTRAINT shop_cuppon_percent_check CHECK ((percent >= 0))
);


ALTER TABLE public.shop_cuppon OWNER TO postgres;

--
-- Name: shop_cuppon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_cuppon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_cuppon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_order (
    id bigint NOT NULL,
    user_id bigint,
    status character varying(20) NOT NULL,
    complete boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    order_id character varying(20),
    coupon boolean,
    coupon_percentange integer,
    cancel_reason text,
    location character varying(20),
    totalbill integer NOT NULL,
    delivary_charge integer NOT NULL,
    CONSTRAINT shop_order_coupon_percentange_check CHECK ((coupon_percentange >= 0)),
    CONSTRAINT shop_order_delivary_charge_check CHECK ((delivary_charge >= 0)),
    CONSTRAINT shop_order_totalbill_check CHECK ((totalbill >= 0))
);


ALTER TABLE public.shop_order OWNER TO postgres;

--
-- Name: shop_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    product_id bigint,
    order_id bigint,
    size character varying(10),
    is_stitched boolean NOT NULL
);


ALTER TABLE public.shop_orderitem OWNER TO postgres;

--
-- Name: shop_orderitem_add_on_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_orderitem_add_on_product (
    id bigint NOT NULL,
    orderitem_id bigint NOT NULL,
    addonproduct_id bigint NOT NULL
);


ALTER TABLE public.shop_orderitem_add_on_product OWNER TO postgres;

--
-- Name: shop_orderitem_add_on_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_orderitem_add_on_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_orderitem_add_on_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_product (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price integer NOT NULL,
    image character varying(100),
    product_code character varying(100),
    arrive_at timestamp with time zone NOT NULL,
    new_arrival boolean NOT NULL,
    image2 character varying(100),
    image3 character varying(100),
    image4 character varying(100),
    in_stock boolean NOT NULL,
    discount boolean,
    discount_percent integer NOT NULL,
    main_price integer NOT NULL,
    slug character varying(50),
    _ratting double precision NOT NULL,
    unstitched_price integer NOT NULL,
    CONSTRAINT shop_product_stitched_price_check CHECK ((unstitched_price >= 0))
);


ALTER TABLE public.shop_product OWNER TO postgres;

--
-- Name: shop_product_add_on_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_product_add_on_product (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    addonproduct_id bigint NOT NULL
);


ALTER TABLE public.shop_product_add_on_product OWNER TO postgres;

--
-- Name: shop_product_add_on_product2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_product_add_on_product2 (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    addonproduct_id bigint NOT NULL
);


ALTER TABLE public.shop_product_add_on_product2 OWNER TO postgres;

--
-- Name: shop_product_add_on_product2_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_product_add_on_product2 ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_product_add_on_product2_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product_add_on_product3; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_product_add_on_product3 (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    addonproduct_id bigint NOT NULL
);


ALTER TABLE public.shop_product_add_on_product3 OWNER TO postgres;

--
-- Name: shop_product_add_on_product3_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_product_add_on_product3 ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_product_add_on_product3_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product_add_on_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_product_add_on_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_product_add_on_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_product_productCategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."shop_product_productCategory" (
    id bigint NOT NULL,
    product_id bigint NOT NULL,
    productcategory_id bigint NOT NULL
);


ALTER TABLE public."shop_product_productCategory" OWNER TO postgres;

--
-- Name: shop_product_productCategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public."shop_product_productCategory" ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."shop_product_productCategory_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_productcategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_productcategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    image character varying(100),
    size_chart character varying(100)
);


ALTER TABLE public.shop_productcategory OWNER TO postgres;

--
-- Name: shop_productcategory_collection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_productcategory_collection (
    id bigint NOT NULL,
    productcategory_id bigint NOT NULL,
    collectionset_id bigint NOT NULL
);


ALTER TABLE public.shop_productcategory_collection OWNER TO postgres;

--
-- Name: shop_productcategory_collection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_productcategory_collection ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_productcategory_collection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_productcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_productcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_productcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_review (
    id bigint NOT NULL,
    content text NOT NULL,
    ratting integer NOT NULL,
    at_time timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL,
    image character varying(100)
);


ALTER TABLE public.shop_review OWNER TO postgres;

--
-- Name: shop_review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_review ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_shippingaddress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_shippingaddress (
    id bigint NOT NULL,
    first_name character varying(20) NOT NULL,
    last_name character varying(20) NOT NULL,
    address text NOT NULL,
    address_note character varying(100) NOT NULL,
    phon character varying(20) NOT NULL,
    email character varying(20) NOT NULL,
    order_id bigint,
    "timestamp" timestamp with time zone NOT NULL
);


ALTER TABLE public.shop_shippingaddress OWNER TO postgres;

--
-- Name: shop_shippingaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_shippingaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_shippingaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_userprofile (
    id bigint NOT NULL,
    user_id integer,
    join_at timestamp with time zone NOT NULL
);


ALTER TABLE public.shop_userprofile OWNER TO postgres;

--
-- Name: shop_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.shop_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taggit_tag (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL
);


ALTER TABLE public.taggit_tag OWNER TO postgres;

--
-- Name: taggit_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.taggit_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: taggit_taggeditem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taggit_taggeditem (
    id integer NOT NULL,
    object_id integer NOT NULL,
    content_type_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.taggit_taggeditem OWNER TO postgres;

--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.taggit_taggeditem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.taggit_taggeditem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	shop	anonymoususer
8	shop	collectionset
9	shop	productcategory
10	shop	userprofile
11	shop	addonproduct
12	shop	product
13	shop	order
14	shop	orderitem
15	shop	shippingaddress
16	shop	review
17	shop	cuppon
18	taggit	tag
19	taggit	taggeditem
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: enroll_cache; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_addonproduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_addonproduct (id, name, price, size) FROM stdin;
1	orna	100	3 feet
\.


--
-- Data for Name: shop_anonymoususer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_collectionset; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_collectionset (id, name, hero, image) FROM stdin;
1	WOMEN'S COLLECTION	f	collectionset/EN_01016_edit.jpg
3	EID COLLECTION 2024	t	collectionset/Beige_Gray_Aesthetic_Photo_Collage_Shop_New_Collection_Promotion_Banner.png
\.


--
-- Data for Name: shop_cuppon; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_cuppon (id, cuppon_name, percent, min_order) FROM stdin;
\.


--
-- Data for Name: shop_order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_orderitem; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_orderitem (id, quantity, product_id, order_id, size, is_stitched) FROM stdin;
74	1	1	44	44	t
75	1	34	47	44	t
76	1	35	46	44	t
78	1	43	49	42	t
79	1	21	50	40	t
80	1	43	51	40	t
81	1	19	51	40	t
82	1	17	52	44	t
\.


--
-- Data for Name: shop_orderitem_add_on_product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_orderitem_add_on_product (id, orderitem_id, addonproduct_id) FROM stdin;
\.


--
-- Data for Name: shop_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_product_add_on_product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_product_add_on_product (id, product_id, addonproduct_id) FROM stdin;
5	10	1
\.


--
-- Data for Name: shop_product_add_on_product2; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_product_add_on_product2 (id, product_id, addonproduct_id) FROM stdin;
\.


--
-- Data for Name: shop_product_add_on_product3; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_product_add_on_product3 (id, product_id, addonproduct_id) FROM stdin;
\.


--
-- Data for Name: shop_product_productCategory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_productcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_productcategory (id, name, image, size_chart) FROM stdin;
2	Falgun	category/421284411_2050132428721239_4238286861570148703_n.jpg	\N
3	Three Piece	category/EN_01042_edit.jpg	\N
5	Two Piece	category/EN_00957_edit_copy.jpg	\N
1	KURTI	category/EN_08279edit.jpg	
6	SHORT KURTI	category/EN_00918_edit.jpg	
\.


--
-- Data for Name: shop_productcategory_collection; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_productcategory_collection (id, productcategory_id, collectionset_id) FROM stdin;
13	1	1
14	3	1
15	5	1
16	6	1
\.


--
-- Data for Name: shop_review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.shop_review (id, content, ratting, at_time, product_id, user_id, image) FROM stdin;
3	very good product	4	2024-06-23 19:17:51.427+00	1	49	
4	good product	4	2024-07-09 08:22:50.754544+00	50	49	product-review/3.png
\.


--
-- Data for Name: shop_shippingaddress; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_userprofile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: taggit_tag; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.taggit_tag (id, name, slug) FROM stdin;
1	kurti	kurti
2	hand paint kurti	hand-paint-kurti
3	paint	paint
4	hand	hand
5	falgun	falgun
6	three	three
7	piece	piece
8	two-piece	two-piece
9	short kurti	short-kurti
\.


--
-- Data for Name: taggit_taggeditem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 76, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 58, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 337, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 19, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 87, true);


--
-- Name: shop_addonproduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_addonproduct_id_seq', 1, true);


--
-- Name: shop_anonymoususer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_anonymoususer_id_seq', 92, true);


--
-- Name: shop_collectionset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_collectionset_id_seq', 3, true);


--
-- Name: shop_cuppon_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_cuppon_id_seq', 1, false);


--
-- Name: shop_order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_order_id_seq', 54, true);


--
-- Name: shop_orderitem_add_on_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_orderitem_add_on_product_id_seq', 1, false);


--
-- Name: shop_orderitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_orderitem_id_seq', 82, true);


--
-- Name: shop_product_add_on_product2_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_product_add_on_product2_id_seq', 1, false);


--
-- Name: shop_product_add_on_product3_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_product_add_on_product3_id_seq', 1, false);


--
-- Name: shop_product_add_on_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_product_add_on_product_id_seq', 5, true);


--
-- Name: shop_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_product_id_seq', 62, true);


--
-- Name: shop_product_productCategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."shop_product_productCategory_id_seq"', 163, true);


--
-- Name: shop_productcategory_collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_productcategory_collection_id_seq', 16, true);


--
-- Name: shop_productcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_productcategory_id_seq', 6, true);


--
-- Name: shop_review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_review_id_seq', 4, true);


--
-- Name: shop_shippingaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_shippingaddress_id_seq', 10, true);


--
-- Name: shop_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_userprofile_id_seq', 101, true);


--
-- Name: taggit_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.taggit_tag_id_seq', 9, true);


--
-- Name: taggit_taggeditem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.taggit_taggeditem_id_seq', 85, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: enroll_cache enroll_cache_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enroll_cache
    ADD CONSTRAINT enroll_cache_pkey PRIMARY KEY (cache_key);


--
-- Name: shop_addonproduct shop_addonproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_addonproduct
    ADD CONSTRAINT shop_addonproduct_pkey PRIMARY KEY (id);


--
-- Name: shop_anonymoususer shop_anonymoususer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_anonymoususer
    ADD CONSTRAINT shop_anonymoususer_pkey PRIMARY KEY (id);


--
-- Name: shop_anonymoususer shop_anonymoususer_session_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_anonymoususer
    ADD CONSTRAINT shop_anonymoususer_session_key_key UNIQUE (session_key);


--
-- Name: shop_collectionset shop_collectionset_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_collectionset
    ADD CONSTRAINT shop_collectionset_pkey PRIMARY KEY (id);


--
-- Name: shop_cuppon shop_cuppon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_cuppon
    ADD CONSTRAINT shop_cuppon_pkey PRIMARY KEY (id);


--
-- Name: shop_order shop_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_order
    ADD CONSTRAINT shop_order_pkey PRIMARY KEY (id);


--
-- Name: shop_orderitem_add_on_product shop_orderitem_add_on_pr_orderitem_id_addonproduc_6d29b1b4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem_add_on_product
    ADD CONSTRAINT shop_orderitem_add_on_pr_orderitem_id_addonproduc_6d29b1b4_uniq UNIQUE (orderitem_id, addonproduct_id);


--
-- Name: shop_orderitem_add_on_product shop_orderitem_add_on_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem_add_on_product
    ADD CONSTRAINT shop_orderitem_add_on_product_pkey PRIMARY KEY (id);


--
-- Name: shop_orderitem shop_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem
    ADD CONSTRAINT shop_orderitem_pkey PRIMARY KEY (id);


--
-- Name: shop_product_add_on_product3 shop_product_add_on_prod_product_id_addonproduct__17050259_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product3
    ADD CONSTRAINT shop_product_add_on_prod_product_id_addonproduct__17050259_uniq UNIQUE (product_id, addonproduct_id);


--
-- Name: shop_product_add_on_product shop_product_add_on_prod_product_id_addonproduct__52349e01_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product
    ADD CONSTRAINT shop_product_add_on_prod_product_id_addonproduct__52349e01_uniq UNIQUE (product_id, addonproduct_id);


--
-- Name: shop_product_add_on_product2 shop_product_add_on_prod_product_id_addonproduct__cfcd01aa_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product2
    ADD CONSTRAINT shop_product_add_on_prod_product_id_addonproduct__cfcd01aa_uniq UNIQUE (product_id, addonproduct_id);


--
-- Name: shop_product_add_on_product2 shop_product_add_on_product2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product2
    ADD CONSTRAINT shop_product_add_on_product2_pkey PRIMARY KEY (id);


--
-- Name: shop_product_add_on_product3 shop_product_add_on_product3_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product3
    ADD CONSTRAINT shop_product_add_on_product3_pkey PRIMARY KEY (id);


--
-- Name: shop_product_add_on_product shop_product_add_on_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product
    ADD CONSTRAINT shop_product_add_on_product_pkey PRIMARY KEY (id);


--
-- Name: shop_product shop_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_pkey PRIMARY KEY (id);


--
-- Name: shop_product_productCategory shop_product_productCate_product_id_productcatego_434eb1ef_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."shop_product_productCategory"
    ADD CONSTRAINT "shop_product_productCate_product_id_productcatego_434eb1ef_uniq" UNIQUE (product_id, productcategory_id);


--
-- Name: shop_product_productCategory shop_product_productCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."shop_product_productCategory"
    ADD CONSTRAINT "shop_product_productCategory_pkey" PRIMARY KEY (id);


--
-- Name: shop_product shop_product_slug_30bd2d5d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product
    ADD CONSTRAINT shop_product_slug_30bd2d5d_uniq UNIQUE (slug);


--
-- Name: shop_productcategory_collection shop_productcategory_col_productcategory_id_colle_a3d4e42c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_productcategory_collection
    ADD CONSTRAINT shop_productcategory_col_productcategory_id_colle_a3d4e42c_uniq UNIQUE (productcategory_id, collectionset_id);


--
-- Name: shop_productcategory_collection shop_productcategory_collection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_productcategory_collection
    ADD CONSTRAINT shop_productcategory_collection_pkey PRIMARY KEY (id);


--
-- Name: shop_productcategory shop_productcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_productcategory
    ADD CONSTRAINT shop_productcategory_pkey PRIMARY KEY (id);


--
-- Name: shop_review shop_review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_pkey PRIMARY KEY (id);


--
-- Name: shop_shippingaddress shop_shippingaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_shippingaddress
    ADD CONSTRAINT shop_shippingaddress_pkey PRIMARY KEY (id);


--
-- Name: shop_userprofile shop_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_userprofile
    ADD CONSTRAINT shop_userprofile_pkey PRIMARY KEY (id);


--
-- Name: shop_userprofile shop_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_userprofile
    ADD CONSTRAINT shop_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: taggit_tag taggit_tag_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_name_key UNIQUE (name);


--
-- Name: taggit_tag taggit_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_pkey PRIMARY KEY (id);


--
-- Name: taggit_tag taggit_tag_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_tag
    ADD CONSTRAINT taggit_tag_slug_key UNIQUE (slug);


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_object_id_tag_id_4bb97a8e_uni; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_object_id_tag_id_4bb97a8e_uni UNIQUE (content_type_id, object_id, tag_id);


--
-- Name: taggit_taggeditem taggit_taggeditem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: enroll_cache_expires; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX enroll_cache_expires ON public.enroll_cache USING btree (expires);


--
-- Name: shop_anonymoususer_session_key_865a9bca_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_anonymoususer_session_key_865a9bca_like ON public.shop_anonymoususer USING btree (session_key varchar_pattern_ops);


--
-- Name: shop_order_user_id_00aba627; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_order_user_id_00aba627 ON public.shop_order USING btree (user_id);


--
-- Name: shop_orderitem_add_on_product_addonproduct_id_ec06f48e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_orderitem_add_on_product_addonproduct_id_ec06f48e ON public.shop_orderitem_add_on_product USING btree (addonproduct_id);


--
-- Name: shop_orderitem_add_on_product_orderitem_id_b8128895; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_orderitem_add_on_product_orderitem_id_b8128895 ON public.shop_orderitem_add_on_product USING btree (orderitem_id);


--
-- Name: shop_orderitem_order_id_2f1b00cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_orderitem_order_id_2f1b00cf ON public.shop_orderitem USING btree (order_id);


--
-- Name: shop_orderitem_product_id_48153f22; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_orderitem_product_id_48153f22 ON public.shop_orderitem USING btree (product_id);


--
-- Name: shop_product_add_on_product2_addonproduct_id_52410bc0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_add_on_product2_addonproduct_id_52410bc0 ON public.shop_product_add_on_product2 USING btree (addonproduct_id);


--
-- Name: shop_product_add_on_product2_product_id_1ad1087f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_add_on_product2_product_id_1ad1087f ON public.shop_product_add_on_product2 USING btree (product_id);


--
-- Name: shop_product_add_on_product3_addonproduct_id_256f9a6d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_add_on_product3_addonproduct_id_256f9a6d ON public.shop_product_add_on_product3 USING btree (addonproduct_id);


--
-- Name: shop_product_add_on_product3_product_id_07a19079; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_add_on_product3_product_id_07a19079 ON public.shop_product_add_on_product3 USING btree (product_id);


--
-- Name: shop_product_add_on_product_addonproduct_id_433a9f5a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_add_on_product_addonproduct_id_433a9f5a ON public.shop_product_add_on_product USING btree (addonproduct_id);


--
-- Name: shop_product_add_on_product_product_id_52234e17; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_add_on_product_product_id_52234e17 ON public.shop_product_add_on_product USING btree (product_id);


--
-- Name: shop_product_productCategory_product_id_a52aa0ac; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "shop_product_productCategory_product_id_a52aa0ac" ON public."shop_product_productCategory" USING btree (product_id);


--
-- Name: shop_product_productCategory_productcategory_id_d73e068d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "shop_product_productCategory_productcategory_id_d73e068d" ON public."shop_product_productCategory" USING btree (productcategory_id);


--
-- Name: shop_product_slug_30bd2d5d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_product_slug_30bd2d5d_like ON public.shop_product USING btree (slug varchar_pattern_ops);


--
-- Name: shop_productcategory_collection_collectionset_id_245cc0d5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_productcategory_collection_collectionset_id_245cc0d5 ON public.shop_productcategory_collection USING btree (collectionset_id);


--
-- Name: shop_productcategory_collection_productcategory_id_22667d02; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_productcategory_collection_productcategory_id_22667d02 ON public.shop_productcategory_collection USING btree (productcategory_id);


--
-- Name: shop_review_product_id_f74dddfd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_review_product_id_f74dddfd ON public.shop_review USING btree (product_id);


--
-- Name: shop_review_user_id_02dce754; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_review_user_id_02dce754 ON public.shop_review USING btree (user_id);


--
-- Name: shop_shippingaddress_order_id_71a8a545; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX shop_shippingaddress_order_id_71a8a545 ON public.shop_shippingaddress USING btree (order_id);


--
-- Name: taggit_tag_name_58eb2ed9_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX taggit_tag_name_58eb2ed9_like ON public.taggit_tag USING btree (name varchar_pattern_ops);


--
-- Name: taggit_tag_slug_6be58b2c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX taggit_tag_slug_6be58b2c_like ON public.taggit_tag USING btree (slug varchar_pattern_ops);


--
-- Name: taggit_tagg_content_8fc721_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX taggit_tagg_content_8fc721_idx ON public.taggit_taggeditem USING btree (content_type_id, object_id);


--
-- Name: taggit_taggeditem_content_type_id_9957a03c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX taggit_taggeditem_content_type_id_9957a03c ON public.taggit_taggeditem USING btree (content_type_id);


--
-- Name: taggit_taggeditem_object_id_e2d7d1df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX taggit_taggeditem_object_id_e2d7d1df ON public.taggit_taggeditem USING btree (object_id);


--
-- Name: taggit_taggeditem_tag_id_f4f5b767; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX taggit_taggeditem_tag_id_f4f5b767 ON public.taggit_taggeditem USING btree (tag_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_order shop_order_user_id_00aba627_fk_shop_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_order
    ADD CONSTRAINT shop_order_user_id_00aba627_fk_shop_userprofile_id FOREIGN KEY (user_id) REFERENCES public.shop_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_orderitem_add_on_product shop_orderitem_add_o_addonproduct_id_ec06f48e_fk_shop_addo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem_add_on_product
    ADD CONSTRAINT shop_orderitem_add_o_addonproduct_id_ec06f48e_fk_shop_addo FOREIGN KEY (addonproduct_id) REFERENCES public.shop_addonproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_orderitem_add_on_product shop_orderitem_add_o_orderitem_id_b8128895_fk_shop_orde; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem_add_on_product
    ADD CONSTRAINT shop_orderitem_add_o_orderitem_id_b8128895_fk_shop_orde FOREIGN KEY (orderitem_id) REFERENCES public.shop_orderitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_orderitem shop_orderitem_order_id_2f1b00cf_fk_shop_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem
    ADD CONSTRAINT shop_orderitem_order_id_2f1b00cf_fk_shop_order_id FOREIGN KEY (order_id) REFERENCES public.shop_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_orderitem shop_orderitem_product_id_48153f22_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_orderitem
    ADD CONSTRAINT shop_orderitem_product_id_48153f22_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_add_on_product3 shop_product_add_on__addonproduct_id_256f9a6d_fk_shop_addo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product3
    ADD CONSTRAINT shop_product_add_on__addonproduct_id_256f9a6d_fk_shop_addo FOREIGN KEY (addonproduct_id) REFERENCES public.shop_addonproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_add_on_product shop_product_add_on__addonproduct_id_433a9f5a_fk_shop_addo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product
    ADD CONSTRAINT shop_product_add_on__addonproduct_id_433a9f5a_fk_shop_addo FOREIGN KEY (addonproduct_id) REFERENCES public.shop_addonproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_add_on_product2 shop_product_add_on__addonproduct_id_52410bc0_fk_shop_addo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product2
    ADD CONSTRAINT shop_product_add_on__addonproduct_id_52410bc0_fk_shop_addo FOREIGN KEY (addonproduct_id) REFERENCES public.shop_addonproduct(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_add_on_product3 shop_product_add_on__product_id_07a19079_fk_shop_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product3
    ADD CONSTRAINT shop_product_add_on__product_id_07a19079_fk_shop_prod FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_add_on_product2 shop_product_add_on__product_id_1ad1087f_fk_shop_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product2
    ADD CONSTRAINT shop_product_add_on__product_id_1ad1087f_fk_shop_prod FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_add_on_product shop_product_add_on__product_id_52234e17_fk_shop_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_product_add_on_product
    ADD CONSTRAINT shop_product_add_on__product_id_52234e17_fk_shop_prod FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_productCategory shop_product_product_product_id_a52aa0ac_fk_shop_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."shop_product_productCategory"
    ADD CONSTRAINT shop_product_product_product_id_a52aa0ac_fk_shop_prod FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_product_productCategory shop_product_product_productcategory_id_d73e068d_fk_shop_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."shop_product_productCategory"
    ADD CONSTRAINT shop_product_product_productcategory_id_d73e068d_fk_shop_prod FOREIGN KEY (productcategory_id) REFERENCES public.shop_productcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productcategory_collection shop_productcategory_collectionset_id_245cc0d5_fk_shop_coll; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_productcategory_collection
    ADD CONSTRAINT shop_productcategory_collectionset_id_245cc0d5_fk_shop_coll FOREIGN KEY (collectionset_id) REFERENCES public.shop_collectionset(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_productcategory_collection shop_productcategory_productcategory_id_22667d02_fk_shop_prod; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_productcategory_collection
    ADD CONSTRAINT shop_productcategory_productcategory_id_22667d02_fk_shop_prod FOREIGN KEY (productcategory_id) REFERENCES public.shop_productcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_review shop_review_product_id_f74dddfd_fk_shop_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_product_id_f74dddfd_fk_shop_product_id FOREIGN KEY (product_id) REFERENCES public.shop_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_review shop_review_user_id_02dce754_fk_shop_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_review
    ADD CONSTRAINT shop_review_user_id_02dce754_fk_shop_userprofile_id FOREIGN KEY (user_id) REFERENCES public.shop_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_shippingaddress shop_shippingaddress_order_id_71a8a545_fk_shop_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_shippingaddress
    ADD CONSTRAINT shop_shippingaddress_order_id_71a8a545_fk_shop_order_id FOREIGN KEY (order_id) REFERENCES public.shop_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: shop_userprofile shop_userprofile_user_id_f68b553c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_userprofile
    ADD CONSTRAINT shop_userprofile_user_id_f68b553c_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_content_type_id_9957a03c_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_content_type_id_9957a03c_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: taggit_taggeditem taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taggit_taggeditem
    ADD CONSTRAINT taggit_taggeditem_tag_id_f4f5b767_fk_taggit_tag_id FOREIGN KEY (tag_id) REFERENCES public.taggit_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

