        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
            background: #0B1215;
        }


        .container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 16px;
            max-width: 1400px;
            margin: 20px auto;
            padding: 0 20px;
        }

        .product-card {
            backdrop-filter: blur(10px);
            box-shadow: 0 4px 8px rgba(207, 207, 207, 0.1);
            border-radius: 8px;
            overflow: hidden;
            text-align: center;
        }

        .product-card img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: transform 1s ease;
        }

        .product-card img:hover {
            transform: scale(1.5);

        }

        .product-details {
            padding: 16px;
        }

        .product-name {
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            color: #fafafa;
            font-family: "Playfair Display", serif;
        }

        .price {
            margin: 8px 0;
            font-size: 16px;
            color: #e74c3c;
            font-family: "Space Grotesk", sans-serif;
        }

        .original-price {
            font-size: 14px;
            color: #999;
            text-decoration: line-through;
            font-family: "Space Grotesk", sans-serif;
        }

        @media (min-width: 1024px) {
            .container {
                grid-template-columns: repeat(5, 1fr);
            }
        }

        @media (max-width: 1024px) {
            .container {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @media (max-width: 480px) {
            .container {
                grid-template-columns: 1fr;
            }




        }



        .product-card {
            position: relative;
        }

        .stock-out-msg {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: red;
            color: white;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: bold;
            z-index: 10;
            border-radius: 3px;
            font-family: "Space Grotesk", sans-serif;
        }