<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Add this in the head of your HTML file -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Add this at the end of your HTML file, just before the closing body tag -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<div class="card">
    <div class="card-body">
        <a href="/">BACK TO HOME</a>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8 col-12">
                        
                <div class="card">
                    <div class="card-text">
                        <p class="text-center mt-2" style="font-size: 1.4rem; font-weight: bold;">Add Product</p>
                    </div>
                    <div class="card-body" style="background-color: rgb(235, 235, 235);">
                        <form method="post" action="" id="myform" class="mt-5" enctype="multipart/form-data">

                            {% csrf_token %}
                        
                            {{form.as_p}}
                            <button type="submit" class="btn btn-outline-dark">Add This Product</button>
                        
                        </form>
                    </div>
                </div>           

            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-6 col-12" >
                <div class="card">
                    <div class="card-text">
                        <p class="text-center mt-2" style="font-size: 1.4rem; font-weight: bold;">Add Category</p>
                    </div>
                    <div class="card-body" style="background-color: rgb(235, 235, 235);">
                        <form method="post" action="{% url 'addCategory' %}" id="myform" class="mt-5" enctype="multipart/form-data">

                            {% csrf_token %}
                        
                            {{form2.as_p}}
                            <button type="submit" class="btn btn-outline-dark">Add This Category</button>
                        
                        </form>
                    </div>
                </div>           

            </div>
            <div class="col-lg-6 col-12 mt-2">
                <div class="card">
                    <div class="card-text">
                        <p class="text-center mt-2" style="font-size: 1.4rem; font-weight: bold;">Add Collection</p>
                    </div>
                    <div class="card-body" style="background-color: rgb(235, 235, 235);">
                        <form method="post" action="{% url 'addCollection' %}" id="myform" class="mt-5" enctype="multipart/form-data">

                            {% csrf_token %}
                        
                            {{form3.as_p}}
                            <button type="submit" class="btn btn-outline-dark">Add This Collection</button>
                        
                        </form>
                    </div>
                </div>           

            </div>
        </div>
    </div>

    <script src="{% static 'shop/js/tiney.js'%}"></script>

</body>
</html>