<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    




    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
<title>Longg-লং</title>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
  rel="stylesheet"
/>
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/magnific-popup.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'shop/css/style.css' %}" type="text/css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Miltonian+Tattoo&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Prata&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg   c" style="background-color: #f3f2ee;">
        <!-- Container wrapper -->
    
        <div class="container navbar bg-body-tertiary p-2" style="opacity: .9;border-radius: 10px;  ">
          <!-- Toggle button -->
    
    
          <!-- Collapsible wrapper -->
          <div class="" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/">
              <img src="{% static 'image/logo/logo.jpg' %}" height="35" alt="logo" loading="lazy" />
            </a>
    
          </div>
          <!-- Collapsible wrapper -->
    
          <!-- Right elements -->
          <div class="d-flex align-items-center">
            <!-- Icon -->
    
    
            <a class="text-reset me-3" href="{% url 'cart' %}">
              <i class="fas fa-shopping-cart" style="font-size: 20px; border:1px solid black; padding: 5px; border-radius: 3px;" ></i>
              <span class="badge rounded-pill badge-notification bg-danger">{{order.total_items}}</span>
    
            </a>
    
            <!-- Notifications -->
    
            <!-- Avatar -->
        
          </div>
          <!-- Right elements -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Checkout Section Begin -->
    <section class="checkout spad mt-5">
        <div class="container">
            <form  method="post">
                {% csrf_token %}
            <div class="checkout__form">
                <!-- <form action="#"> -->
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="{% url 'cart' %}" style="color: #f74f06;">Click
                            here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                           
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        {{form.first_name}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        {{form.last_name}}
                                    </div>
                                </div>
                            </div>
                        
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                {{form.address}}
                                <p>Address Note<span>*</span></p>

                               {{form.address_note}}

                            </div>
                            <!-- <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p>Country/State<span>*</span></p>
                                <input type="text">
                            </div> -->
                            <!-- <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                <input type="text">
                            </div> -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        {{form.phon}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span></span></p>
                                        {{form.email}}
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="checkout__input__checkbox">
                                <label for="acc">
                                    Create an account?
                                    <input type="checkbox" id="acc">
                                    <span class="checkmark"></span>
                                </label>
                                <p>Create an account by entering the information below. If you are a returning customer
                                please login at the top of the page</p>
                            </div>
                            <div class="checkout__input">
                                <p>Account Password<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Note about your order, e.g, special noe for delivery
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p>Order notes<span>*</span></p>
                                <input type="text"
                                placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div> -->
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product<span>Total</span></div>
                                <ul class="checkout__total__products">
                                    {% for item in items %}
                                    <li>{{forloop.counter}}. {{item.product.name}}<span>TK. {{item.item_total}}</span><br>
                                    {% for add_on in item.add_on_product.all %}
                                    &nbsp;&nbsp;&nbsp;&nbsp; {{ add_on.name }} <br>
                                    {% endfor %}
                                </li>
                                    {% endfor %}

                                    




                                </ul>
                              
                                <ul class="checkout__total__all">
                                    <li>Total Items <span >{{order.total_items}}</span></li>
                                    <li>Total <span style="color: #373737;">TK. {{order.get_total}}</span></li>

                                    {% if order.location == "inside_dhaka" %}
                                    <li>Total Items <span style="color: #373737;">TK. 80</span></li>
                                    {% else %}
                                    <li>Delivery <span style="color: #373737;">TK. 120</span></li>
                                    {% endif %}
                                    <li>Pay <span>TK. {{subtotal}}</span></li>
                                </ul>
                                <!-- <div class="checkout__input__checkbox">
                                    <label for="acc-or">
                                        Create an account?
                                        <input type="checkbox" id="acc-or">
                                        <span class="checkmark"></span>
                                    </label>
                                </div> -->
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p> -->
                                <!-- <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div> -->
                        
                                <h6 class="">Cash On Delivery <i class="fa-solid fa-truck"></i></h6>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                <!-- </form> -->

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

</body>
</html>