{% extends 'shop/main.html' %}
{% load static %}
{% block body %}

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            {% for collection in heroCollections %}
            <div class="hero__items set-bg" data-setbg="{{collection.imageURL}}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h2 style="color:#fff; font-family: 'Prata', serif;">{{collection.name}}</h2>
                                <a href="{% url 'shop_grid' pk=collection.id %}" class="primary-btn s">Shop now <span class="arrow_right"></span></a>
                 
                                <style>
                                    .c{
                                        color: #fff;
                                    }
                                    .s{
                                        font-family: 'Prata', serif;
                                    }
                             
                                </style>
                                <div class="hero__social">
                                    <a href="#"><i class="fa c fa-facebook"></i></a>
                                    <a href="#"><i class="fa c fa-twitter"></i></a>
                                    <a href="#"><i class="fa c fa-pinterest"></i></a>
                                    <a href="#"><i class="fa c fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                {% for collection in collectionsets %}
                {% if forloop.counter|divisibleby:2 %}
                <!-- -->
                
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic" >
                            <a href="{% url 'shop_grid' pk=collection.id %}" style="text-decoration: none;">
                                  <img src="{{collection.imageURL}}" style="height: 440px; max-width: 440px; object-fit: cover;" alt="">
                                </a>
                        </div>
                        <div class="banner__item__text">
                            <h2>{{collection.name}}</h2>
                            <a href="{% url 'shop_grid' pk=collection.id %}">Shop now</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'shop_grid' pk=collection.id %}">
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                         <div class="banner__item">
                            <div class="banner__item__pic">
                                <a href="{% url 'shop_grid' pk=collection.id %}" style="text-decoration: none;">
                                    <img src="{{collection.imageURL}}" style="height: 440px; max-width: 440px; object-fit: cover;" alt="">
</a>
                            </div>
                            <div class="banner__item__text">
                                <h2>{{collection.name}}</h2>
                                <a href="{% url 'shop_grid' pk=collection.id %}">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">Best Sellers</li>
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        <li data-filter=".hot-sales">Hot Review</li>
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
          
                {% for product in top_rated_product %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <a href="{% url 'shop_details' pk=product.id %}">    
                             <div class="product__item__pic set-bg" data-setbg="{{product.imageURL}}">
                                {% if product.in_stock != True %}
                                <span class="label">out of stock</span>
                                {% endif %}
                            <ul class="product__hover">
                    
                            </ul>
                        </div>
                    </a>
                        <div class="product__item__text">
                            <h6 style="font-size: 1.2rem;">{{product.name}}</h6>

                            <a href="{% url 'shop_details' pk=product.id %}" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: yellow;"></i>&nbsp;&nbsp;{{product.average_rating}} <span</span>
                            </div>
                            <h5 style="opacity: .8;">TK. {{product.price}}</h5>
                          
                        </div>
                       
                    </div>
                </div>
                {% endfor %}

                {% for product in new_arrival_products %}

                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
       
                    <div class="product__item">
                        <a href="{% url 'shop_details' pk=product.id %}">   
                        <div class="product__item__pic set-bg" data-setbg="{{product.imageURL}}">
                            {% if product.in_stock != True %}
                            <span class="label">out of stock</span>
                            {% endif %}
                            <ul class="product__hover">
                            </ul>
                        </div>
                    </a>
                        <div class="product__item__text">
                            <h6 style="font-size: 1.2rem;">{{product.name}}</h6>
                            <a href="{% url 'shop_details' pk=product.id %}" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa-solid fa-star" style="color: yellow;"></i>&nbsp;&nbsp;{{product.average_rating}} <span</span>
                            </div>
                            <h5 style="opacity: .7;">TK. {{product.price}}</h5>
                          
                        </div>
                    </div>
                   
                </div>

                {% endfor %}
                
                
            </div>
        </div>
    </section>
    <!-- Product Section End -->


    <!-- Footer Section Begin -->
  {% endblock %}