<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Longg - {{product.name}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <meta property="og:type" content="product" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:title" content="{{ product.name }}" />
    <!-- <meta property="og:description" content="{{ product.description }}" /> -->
    <meta property="og:image" content="{{ product.imageURL }}" />


    <meta property="og:image:alt" content="{{ product.name }}" />
    <meta property="og:image:type" content="image/jpg" /> <!-- Adjust based on your image type -->
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />



    <!-- google fonts -->
    {% include 'shop/utils/fonts.html' %}


    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css" rel="stylesheet" />



    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0372CDLF47"></script>

    <link rel="stylesheet" href="{% static 'shop/css/shopdetails.css' %}">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-0372CDLF47');
    </script>

   
</head>

<body data-unstitched_price="{{ product.unstitched_price }}">

    <!-- Navbar -->
     {% include 'shop/components/nav.html' %}
    <!-- Navbar -->

    <style>
        .messages .message {
            padding: 15px;
            margin-bottom: 20px;
            border-radius: 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
            padding: 5px 20px;
            position: fixed;
            z-index: 10;
            display: none;
        }
    </style>
    
    <div class="messages d-flex justify-content-center " style="margin-top:-10px;">
        <div class="message bg-success" id="success-message">cart add</div>
    </div>


    <!-- Product Page Container -->
    <div class="container my-4 fade-in">
        <div class="row">
            <!-- Product Images -->
            <div class="col-md-6">
                <div class="product-img mb-4">
                    <img id="mainImage" src="{{product.imageURL}}" loading="lazy" alt="Prouct image" >
                </div>
                <div class="thumb-img d-flex">
                    <img src="{{product.imageURL}}" alt="Product Image 1" loading="lazy" onclick="changeImage(this.src)">
                    {% if product.imageURL2 %}
                    <img src="{{product.imageURL2}}" alt="Product Image 1" loading="lazy" onclick="changeImage(this.src)">
                    {% endif %}
                    {% if product.imageURL3 %}
                    <img src="{{product.imageURL3}}" alt="Product Image 1" loading="lazy" onclick="changeImage(this.src)">
                    {% endif %}
                    {% if product.imageURL4 %}
                    <img src="{{product.imageURL4}}" alt="Product Image 1" loading="lazy" onclick="changeImage(this.src)">
                    {% endif %}
                </div>
            </div>

            <style>
                ::-webkit-scrollbar {
                    display: none;
                }

                .details-section {
                    -ms-overflow-style: none;
                    /* IE and Edge */
                    scrollbar-width: none;
                    /* Firefox */
                }

                #loading {
                    transition: opacity 0.3s ease;
                }
            </style>

            <!-- Product Details -->
            <div class="col-md-6 details-section">
                <div class="product-details p-4">
                    <h2 style="font-size: 2rem; text-transform: capitalize;">
                        {{product.name}}
                        {% if request.user.is_superuser %}
                        <a class="" style="font-size: 1rem; text-transform: lowercase;text-decoration:underline;"
                            href="{% url 'edit_product' slug=product.slug %}">
                            Edit Product
                            <span style="text-decoration: none; color:#f74f06">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </span>
                        </a>
                        {% endif %}
                    </h2>



                    <p class="price" style="font-size: 1.7rem; font-weight: normal;">Tk. <span id="product-price">{{product.price_}}</span>
                        {% if product.discount_percent %}
                        <del style="opacity: .8; font-size: 1rem;">
                            {{product.price}}
                        </del>
                        {% endif %}
                    </p>
                    <span style="opacity: .8;">
                        Category: &nbsp;
                        {% for category in product.productCategory.all %}
                        {{ category.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                        No categories found
                        {% endfor %}
                    </span>
                    <hr>
                    <p class="desc">{{ product.desc|linebreaksbr}}</p>



                    <hr>
                    <!-- Product Rating and Reviews -->
                    <div class="d-flex align-items-center">
                        <!-- <span class="rating">{{product.ratting}} ★</span> -->
                        <span class="rating">{{product.average_rating}} ★</span>

                        <span class="reviews-count ms-2">({{ product.total_reviews }} Reviews)</span>
                    </div>

                    {% if product.unstitched_price %}
                    <div class="unstiched mt-4">
                        <button type="button" id="unstiched-button" class="btn btn-dark btn-sm"
                            style=" background-color: #343a40;">
                            Unstitched?
                        </button>
                    </div>
                    {% endif %}
                    <form method="post" id="updateForm">
                        {% csrf_token %}

                        <div id="form_c">

                        </div>

                        <style>
                            label {
                                margin-top: 10px;
                            }
                        </style>

                        <!-- Size Option as Radio Buttons -->
                        <div class="size-options mt-3" style="border: 1px solid #484d50; padding: 10px">
                            <p>Select Size <span id="Unstitched-info"
                                    style="background-color: #f74e069a; font-size: .8rem;"></span></p>

                            <input type="radio" id="36" name="size" value="36">
                            <label for="36">36</label>
                            <input type="radio" id="38" name="size" value="38">
                            <label for="38">38</label>
                            <input type="radio" id="40" name="size" value="40">
                            <label for="40">40</label>
                            <input type="radio" id="42" name="size" value="42">
                            <label for="42">42</label>
                            <input type="radio" id="44" name="size" value="44">
                            <label for="44">44</label>
                            <input type="radio" id="46" name="size" value="46">
                            <label for="46">46</label>


                        </div>

                        <!-- Size Chart Link -->
                        <p class="mt-4">
                            <span class="size-chart-link" data-bs-toggle="modal" data-bs-target="#sizeChartModal">View
                                Size Chart</span>
                        </p>

                        {% if add_on_product or add_on_product2 or add_on_product3 %}
                        <div class="card addon-section">
                            <div class="card-header text-light" style="font-size: 1.2rem;">
                                Addons
                                <p
                                    style="font-size: 1rem; opacity: .8; font-family: 'Atma', system-ui; font-weight: 300; font-style: normal;">
                                    আপনি চাইলে Product এর সাথে নিচের দেওয়া অ্যাড-অন মেনু থেকে ad-on product সিলেক্ট করে
                                    নিতে পারেন। সেক্ষেত্রে প্রোডাক্টের মূল্যের সাথে Add On মূল্যটি যোগ হবে।</p>
                            </div>
                            <div class="card-body d-flex">
                                <select name="add_on_product" id="" class="form-control">
                                    <option class="text-dark" value="none" style="font-size: 1.1rem;">select</option>

                                    {% for add_product in add_on_product %}
                                    <option class="text-dark" value="{{add_product.id}}" style="font-size:.9rem;">
                                        {{add_product.name}} - {{add_product.size}} - {{add_product.price}}Tk.</option>
                                    {% endfor %}
                                </select>
                                &nbsp;<select name="add_on_product2" id="" class="form-control">
                                    <option value="none" class="text-dark" style="font-size: 1.1rem;">select</option>

                                    {% for add_product in add_on_product2 %}
                                    <option value="{{add_product.id}}" style="font-size: .9rem;">
                                        {{add_product.name}} - {{add_product.size}} - {{add_product.price}}Tk.</option>
                                    {% endfor %}
                                </select>
                                <!-- <select name="add_on_product3" id="" class="form-control">
                                <option value="none" style="font-size: 1.1rem;">-------</option>

                                {% for add_product in add_on_product3 %}
                                <option value="{{add_product.id}}" style="font-size: 1.1rem;">
                                    {{add_product.name}} - {{add_product.size}} - {{add_product.price}}Tk.</option>
                                {% endfor %}
                            </select> -->
                            </div>
                        </div>
                        {% endif %}
                        <!-- Add to Cart Button -->
                        <input type="text" name="action" value="add {{ product.slug }}" hidden>

                        {% if product.customization_possible %}
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="p-2">Short Note</label>
                            <textarea class="form-control " name="customization_note" rows="3"></textarea>
                        </div>
                        {% endif %}

                        {% if product.in_stock %}
                        <button type="submit" class="btn btn-danger btn-lg mt-3">Add to Cart</button>
                        {% else %}

                        <span class="badge rounded-pill badge-danger">Sorry the product is not available now</span>
                        {% endif %}
                    </form>


                </div>
                <style>
                    iframe {
                        width: 100%;
                        height: 550px;
                        border-radius: 10px;
                        background-color: #037288;
                    }

                    .youtubeshorts {
                        margin: auto;
                        text-align: center;
                        align-items: center;

                    }
                </style>
                {% if product.youtube_video_id %}
                <div class="youtubeshorts mt-2">
                    <iframe
                        src="https://www.youtube.com/embed/{{product.youtube_video_id}}?autoplay=1&mute=0&controls=0&modestbranding=1&rel=0&loop=1&playlist={{product.youtube_video_id}}"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
                {% endif %}

            </div>
        </div>


        <!-- Review Section -->
       
   

        <section class="related spad ">
            <div class="container">
           

                <div class="reco-container">
                    {% if relatedProduct %}
                    <hr>
                    <h3 class="related-title text-center">Related Product</h3>
                    <hr>
                    {% endif %}
                    <br>
                    <div class="reco">
                        {% for product in relatedProduct %}
                        <a href="{% url 'shop_details' product.slug %}" style="text-decoration: none;">
                            <div class="product-card">
                                <img src="{{ product.imageURL }}" alt="Product Image" loading="lazy">
                                {% if product.in_stock %}
                                {% if product.discount_percent %}
                                <div class="stock-out-msg" style="background-color: #f74f06;">
                                    {{product.discount_percent}}% Off
                                </div>
                                {% endif %}
                                {% else %}
                                <div class="stock-out-msg">Stock Out</div>
                                {% endif %}

                                <div class="product-details">
                                    <p class="product-name">{{ product.name }}</p>
                                    <p class="price">Tk. {{ product.price }}</p>
                                    {% if product.discount_percent %}
                                    <p class="original-price">Tk. {{ product.update_price }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>


            </div>
        </section>
    </div>
    <style>
        td,
        th {
            text-align: center;
        }

        .modal-content,
        .modal,
        .modal-dialog {
            backdrop-filter: blur(10px);
            background: none;
        }
    </style>
    <!-- Size Chart Modal -->
    <div class="modal fade" id="sizeChartModal" tabindex="-1" aria-labelledby="sizeChartModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-light">
                <div class="modal-header">
                    <h5 class="modal-title" id="sizeChartModalLabel">Size Chart</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>

                <div class="sizetable">
                    <!-- Three Piece Size Table -->
                    <div class="modal-body">
                        <h5 class="text-center">Three Piece</h5>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chest (inches)</th>
                                        <th>Waist (inches)</th>
                                        <th>Length (inches)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>36</td>
                                        <td>37</td>
                                        <td>33</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>39</td>
                                        <td>35</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>41</td>
                                        <td>37</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>43</td>
                                        <td>39</td>
                                        <td>42</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>45</td>
                                        <td>41</td>
                                        <td>44</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>47</td>
                                        <td>43</td>
                                        <td>44</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Kurti Size Table -->
                    <div class="modal-body">
                        <h5 class="text-center">Kurti</h5>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chest (inches)</th>
                                        <th>Length (inches)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>36</td>
                                        <td>37</td>
                                        <td>38</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>39</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>41</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>43</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>45</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>47</td>
                                        <td>40</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-center">Short Kurti</h5>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-dark table-striped">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Chest (inches)</th>
                                        <th>Length (inches)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>36</td>
                                        <td>37</td>
                                        <td>34</td>
                                    </tr>
                                    <tr>
                                        <td>38</td>
                                        <td>39</td>
                                        <td>34</td>
                                    </tr>
                                    <tr>
                                        <td>40</td>
                                        <td>41</td>
                                        <td>36</td>
                                    </tr>
                                    <tr>
                                        <td>42</td>
                                        <td>43</td>
                                        <td>36</td>
                                    </tr>
                                    <tr>
                                        <td>44</td>
                                        <td>45</td>
                                        <td>36</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>47</td>
                                        <td>36</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Add some custom media queries for better responsiveness -->
                <style>
                    @media (max-width: 576px) {

                        .table th,
                        .table td {
                            font-size: 0.8rem;
                        }

                        h5 {
                            font-size: 1rem;
                        }
                    }
                </style>



            </div>
        </div>
    </div>



    <!-- Fullscreen Loading Overlay -->
    <div id="loading" style="
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(11, 18, 21, 0.8);
    backdrop-filter: blur(10px);
    z-index: 2000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 0.3s ease;
">
        <i class="fas fa-spinner fa-spin fa-4x mb-3" style="color: #f74f06;"></i>
        <strong class="text-light fs-5">Updating Cart...</strong>
    </div>



  {% include 'shop/components/footer.html' %}




    <script src="{% static 'shop/js/shop_details.js' %}"></script>

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>