{% extends 'shop/main.html' %}
{% load static %}

{% block body %}

<style>


    .orderinfo {
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #4f4f4f;
        margin-bottom: 10px;
    }

    p, h3, h4 {
        color: #fff;
    }

    .order-details {
        margin-top: 10px;
    }

    .product-info {
        margin-top: 10px;
    }

    .btn-order-complete {
        margin-top: 10px;
    }

</style>

</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-4 text-center">Orders</h3>
            <div class="list-group mt-2">
                {% for shippingaddress in shippingAddress %}

                <div class="orderinfo mt-2" id="orderinfo_{{ shippingaddress.order.order_id }}" >
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table table-bordered"  >
                                <thead>
                                    <tr>
                                        <th>
                                         Order ID:    {{shippingaddress.order.order_id}}
                                        </th>
                                        <th>
                                         Email :    {{shippingaddress.email}}
                                        </th>
                                        <th>
                                         Phon :    {{shippingaddress.phon}}
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Address Details</th>
                                        <th>Address Note</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{shippingaddress.first_name}} {{shippingaddress.last_name}}</td>
                                        <td>{{shippingaddress.address}}</td>
                                        <td>{{shippingaddress.address_note}}</td>
                                            
                                    </tr>
                                </tbody>
                            </table>
                            
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Size</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for orderItem in shippingaddress.order.order_items.all %}
                                    <tr>    
                                        <td>  <img src="{{orderItem.product.imageURL}}" style="height: auto;width: 50px;"> </td>
                                        <td>{{orderItem.product.name}}</td>
                                        <td>{{orderItem.quantity}}</td>
                                        <td>{{orderItem.size}}</td>
                                        <td>{{orderItem.item_total}}</td>
                                    </tr>
                                    <tr>
                                        <td>Add On Product</td>
                                                    
                                        <td>
                                                                    
                                            <table>
                                                <thead>
                                                    <th>Add On </th>
                                                    <th>Size</th>
                                                    <th>price</th>
                                                </thead>
                                                <tbody>
                                                    {% for add_on in orderItem.add_on_product.all %}
    
                                                    <tr>
                                                        
                                                    <td>
                                                    {{ add_on.name }}<br>
                                                    </td>
                                                    <td>
                                                        {{add_on.size}} <br>                             
    
                                                    </td>
                                                    <td>
                                                    {{add_on.price}} TK.<br>                             
    
                                                    </td>
                
                                                    </tr>
                                                    {% endfor %}
    
                                                </tbody>
                                            </table>
                                            
                                        </td>
    
                                    </tr>
                                    
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                            <p><strong style="color: #4f4f4f;">Product Bill: </strong> <span style="color: #f74f06;">{{shippingaddress.order.get_total}} </span></p>
                            <p><strong style="color: #4f4f4f;">Delivary charge: </strong> <span style="color: #f74f06;">{{shippingaddress.order.delivary_charge}} </span></p>
                            {% with delivery_charge=shippingaddress.order.delivary_charge %}
                            {% with total_amount=shippingaddress.order.get_total %}
                                <p>
                                    <strong style="color: #4f4f4f;">Total Bill: </strong>
                                    <span style="color: #f74f06;">{{ delivery_charge|add:total_amount }}</span>
                                </p>
                            {% endwith %}
                        {% endwith %}
                          <p style="color: #4f4f4f;">Date: {{shippingaddress.timestamp}}</p>
                          <p style="color: #4f4f4f;"> {{shippingaddress.timestamp|timesince}} ago</p>
                            <p></p>
                            
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="{% url 'order_status' pk=shippingaddress.order.id %}" class="btn btn-outline-primary btn-order-complete">{{shippingaddress.order.status}}</a>
                        </div>
                     
                        <div class="col-md-12 text-right">
                            <button onclick="printOrder('orderinfo_{{ shippingaddress.order.order_id }}')" class="btn btn-outline-dark">Print This data</button>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>
            <script>
function printOrder(orderId) {
    var orderDiv = document.getElementById(orderId);
    
    // Remove the button from the orderDiv
    var buttonToRemove = orderDiv.querySelector('.btn');
    var buttonToRemove2 = orderDiv.querySelector('button');
    if (buttonToRemove) {
        buttonToRemove.remove();
    }
    if (buttonToRemove2) {
        buttonToRemove2.remove();
    }
    
    var orderContent = orderDiv.innerHTML; // Get the content of the orderDiv
    
    var originalContents = document.body.innerHTML; // Store the original content
    
    document.body.innerHTML = orderContent; // Replace the content of the body with the order content
    
    window.print(); // Trigger the print dialog
    
    document.body.innerHTML = originalContents; // Restore the original content
}

            </script>
        
        </div>
    </div>
</div>
{% endblock %}
